@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-rubik;
    }
}

@layer components {
    .c-container{
        @apply max-w-screen-xl mx-auto py-10 px-5 md:px-10
    }
}

.service-btn-prev,
.service-btn-next{
    color: rgb(6 182 212) !important;
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
}
.services .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
}
.services .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: rgb(34 197 94) !important;
}

#ourEvent:hover #ourEventImg{
    transform: scale(1.1);
}